<%- include('../../partials/header')%>
<%- include('../../partials/navbar')%>


<div class="container">
    <br>
    <h2>Artigos</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 text-left">
            <a class="btn btn-success" href="/admin/articles/new">Cadastrar</a><br><br>
        </div>
        <!--
        <div class="col-md-6 text-right"> 
            <p>Total items: </p>
        </div>
        -->
    </div>
    
    
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <% articles.forEach( article => { %>
            <tr>
                <th><%= article.id %></th>
                <th><%= article.title %></th>
                <th><%= article.slug %></th>
                <th><%= article.category.name %></th>
                <th>
                    <a  class="btn btn-primary" href="/admin/articles/edit/<%= article.id %>">Editar</a>

                    <form method="POST" action="/admin/articles/delete" class="form" style="display: inline;" onsubmit="confirmDelete(event,this,'artigo')">
                        <input type="hidden" value="<%= article.id %>"  name="id">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </th>
            </tr>
            <% })%>
        </tbody>
        
        
    </table>
    
    <%- include('../../partials/pagination')%>

</div>

<%- include('../../partials/footer')%>

<!-- adciona pop-up de exclusão -->
<%- include('../../partials/pop-up')%>

