<%- include('../../partials/header')%>
<%- include('../../partials/navbar')%>


<div class="container">
    <br>
    <h2>Categorias</h2>
    <hr>
    <a  class="btn btn-success" href="/admin/categories/new">Cadastrar</a><br><br>
    <table class="table table-bordered">

        <thead class=" thead-dark">
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        
        <tbody>
            <% categories.forEach( category => { %>
            <tr>
                <th><%= category.id %></th>
                <th><%= category.name %></th>
                <th><%= category.slug%></th>
                <th>
                    <a  class="btn btn-primary" href="/admin/categories/edit/<%= category.id %>">Editar</a>

                    <form method="POST" action="/admin/categories/delete/" class="form" style="display: inline;" onsubmit="confirmDelete(event,this,'categoria')">
                        <input type="hidden" value="<%= category.id %>"  name="id">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </th>
            </tr>
            <% })%>
        </tbody>
        
        
    </table>

    <%- include('../../partials/pagination')%>

</div>

<%- include('../../partials/footer')%>

<!-- adciona pop-up de exclusão -->
<%- include('../../partials/pop-up')%>