<%- include ('partials/header')%>
<body>
    <%- include ('partials/navbarMenu')%>
    
    <div class="container" id="home-conteudo">
        <br>
        <div class="jumbotron" id="capa-home">
            <h1 class="display-4">Bem vindo ao DevBlog !</h1>
            <p class="lead">
                Nosso objetivo é proporcionar uma experiência enriquecedora, repleta de insights e conhecimentos
                que impulsionem seu desenvolvimento profissional e pessoal. Junte-se a nós nessa jornada de aprendizado
                e descoberta!</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <br>
        
        <h2> Artigos</h2>
        <hr>
        
        <% articles.forEach( article => {%>
            <div class="card">
                <div class="card-header">
                    <h3> <%=article.title%> </h3>
                </div>

                <div class="card-body">
                    <a href="/articles/<%= article.slug %>"><button class="btn btn-success"> Ler </button></a>
                </div>
            </div>
            <br>
        <%})%>
       
    </div>

    
</body>

<%- include ('partials/footer')%>