<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        
        <% if (page+1 > 1) {%>
            <li class="page-item">
                <a class="page-link" href="<%= url%>/page/<%= page+1 %>" aria-label="Previous">
                    <span aria-hidden="true" class="black-text">&laquo;</span>
                    <span class="sr-only black-text">Previous</span>
                </a>
            </li>
        <%}%>

        <% for ( let i=1; i < numPages+1; i++) {%>

            <% if (page == i){%>
                <li class="page-item active"  href="<%= url%>/page/<%= i %>">
                    <span class="page-link">
                        <%= i %>
                      <span class="sr-only">(current)</span>
                    </span>
                </li>
            <%}else{%>
                <li class="page-item"><a class="page-link black-text" href="<%= url%>/page/<%= i %>"><%= i %></a></li>
            <%}%>
        <%}%>
        
        <% if (next){%>
            <li class="page-item">
                <a class="page-link" href="<%= url%>/page/<%= page+1 %>" aria-label="Next">
                    <span aria-hidden="true" class="black-text">&raquo;</span>
                    <span class="sr-only black-text">Next</span>
                </a>
            </li>
        <%}%>

    </ul>
</nav>